@model IEnumerable<coursework02.Models.Loan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData["Message"] != null)
{
<div class="alert alert-success">@TempData["Message"]</div>
}
<table class="table table-bordered">
    <tr>
        <th>
          Album
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanTypes.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Members.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnedDate)
        </th>
        <th>Due Date</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Album.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanTypes.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Members.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnedDate)
        </td>
        <td>@item.DueDate.ToShortDateString()</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
            @if (item.ReturnedDate == null)
            {
                @Html.ActionLink("Return", "Return", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
