@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-12">&nbsp;</div>
<div class="jumbotron">
    <h1>Welcome to Everest Video Library</h1>
    <p>Some Text Goes Here. Some Text Goes Here. Some Text Goes Here.</p>
    <div class="row">
        @if (Request.IsAuthenticated)
        {
            <div class="col-md-6">

                <h2>Main Menu</h2>

                <ul class="list-group">
                    <li class="list-group-item">@Html.ActionLink("Artists", "Index", "Artists")</li>
                    <li class="list-group-item">@Html.ActionLink("Producers", "Index", "Producers")</li>
                    <li class="list-group-item">@Html.ActionLink("Album", "Index", "Albums")</li>
                    <li class="list-group-item">@Html.ActionLink("Loan", "Index", "Loans")</li>
                    <li class="list-group-item">@Html.ActionLink("Loan Types", "Index", "LoanTypes")</li>
                    <li class="list-group-item">@Html.ActionLink("Member", "Index", "Members")</li>
                    <li class="list-group-item">@Html.ActionLink("MemberType", "Index", "MemberCategories")</li>
                    <li class="list-group-item">@Html.ActionLink("Search", "Index", "search")</li>

                </ul>

            </div>
            <div class="col-md-6">
                <h2>Search Menu</h2>
                <ul class="list-group">

                    <li class="list-group-item">
                        <a href="@Url.Action("GetAlbumByArtist", "Search")">1.Album By Artist</a>
                    </li>
                    <li class="list-group-item">
                        <a href="@Url.Action("GEtAlbumOnShelves", "Search")">2.Album On Shelves</a>
                    </li>
                    <li class="list-group-item">
                        <a href="@Url.Action("GetLoansByMember", "Search")">3.Loans By Members</a>
                    </li>
                    <li class="list-group-item">
                        <a href="@Url.Action("GetAlbumsAll", "Search")">4.Album All</a>
                    </li>
                    <li class="list-group-item">
                        <a href="@Url.Action("GetByCopyNumber", "Search")">5.Album By Copy Number</a>
                    </li>
                    <li class="list-group-item">
                        <a href="@Url.Action("Create", "Loans")">6.Issue Loan</a>
                    </li>
                    <li class="list-group-item">
                        <a href="@Url.Action("Index", "Loans")">7.Return Loan</a>
                    </li>
                   
                    <li class="list-group-item">
                        <a href="@Url.Action("GetMemberDetail", "Search")">8.Member Details</a>
                    </li>
                    <li class="list-group-item">
                        <a href="@Url.Action("Add", "Albums")">9.Add Album</a>
                    </li>
                    <li class="list-group-item">
                        <a href="@Url.Action("GetAYearOldAlbum", "Search")">10.Get Old Album</a>
                    </li>
                    <li class="list-group-item">
                        <a href="@Url.Action("GetLoanAlbum", "Search")">11.Loan Albums</a>
                    </li>
                    <li class="list-group-item">
                        <a href="@Url.Action("GetMemberInActive", "Search")">12.Member Inactive</a>
                    </li>
                    <li class="list-group-item">
                        <a href="@Url.Action("GetAlbumInActive", "Search")">13.Album InActive</a>
                    </li>
                </ul>
            </div>
        }
    </div>
</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@