@model IEnumerable<coursework02.Models.Albums>

@{
    ViewBag.Title = "GetAlbumsAll";
}

<h2>GetAlbumsAll</h2>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Cast</th>
        <th>Producers</th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Length)
        </th>
        <th>
            Image
        </th>
       
    </tr>
    @if (Model.ToList().Count()>0)
    {
        foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @String.Join(" , ", item.Artists.OrderBy(m => m.Name).Select(m => m.Name))
            </td>
            <td>
                @String.Join(" , ", item.Producers.OrderBy(m => m.Name).Select(m => m.Name))
            </td>

            <td>
                @item.ReleaseDate.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                <img height="50" width="40" src="@Url.Content(item.CoverImagePath + item.id + ".jpg")" onerror="if (this.src != 'images/mov.jpg') this.src = 'images/mov.jpg';">
            </td>
          
        </tr>
        }
    }
    else
    {
        <tr><td colspan="6"> No Records Found.</td></tr>

    }

</table>