@model IEnumerable<coursework02.ViewModels.MemberLoanDetails>

@{
    ViewBag.Title = "GetMemberDetail";
}

<h2>GetMemberDetail</h2>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MemberName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalLoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
       
        
    </tr>
    @if (Model.ToList().Count()>0)
    {
        foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MemberName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalLoan)
        </td>
        <td>
            @if (item.MaxLoan <= item.TotalLoan)
            {
            <label class="text text-danger"> @("Too many DVDs")</label>
            }
            else
            {
                <label class="text text-success">@("Can Loan DVDs")</label>
            }

        </td>
      
       
    </tr>
        }
    }
    else
    {
        <tr><td colspan="4">No Record Found.</td></tr>
    }

</table>
